<a href="https://colab.research.google.com/github/pepperamy/17FJAVABOAT/blob/master/merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from datetime import datetime

In [ ]:
df = pd.read_csv('2021-02-23-12-18-09-EST-Historical-Report-SP-500-2020-01-01--2021-02-24.csv')

In [ ]:
df

,Page Name,User Name,Facebook Id,Likes at Posting,Followers at Posting,Created,Type,Likes,Comments,Shares,...,Message,Link,Final Link,Image Text,Link Text,Description,Sponsor Id,Sponsor Name,Total Interactions,Overperforming Score (weighted — Likes 1x Shares 1x Comments 1x Love 1x Wow 1x Haha 1x Sad 1x Angry 1x Care 1x )
0,Boston.com,boston,6879409364,396285.0,387824.0,2021-02-23 11:27:08 EST,Link,3,2,1,...,A New Hampshire-based movie theater company wi...,http://bos.gl/lRvXH2Z,https://www.boston.com/culture/business/2021/0...,NaN,2 Mass. movie theaters among 8 permanently clo...,NaN,NaN,NaN,17,-1.29
1,Ecolab,ecolab,170139253055959,43351.0,46445.0,2021-02-23 11:15:08 EST,Link,17,0,3,...,Clean and safe environments at vaccination cli...,https://www.ecolab.com/articles/2021/02/creati...,NaN,NaN,Creating a Clean Environment When Administerin...,Six tips to create a clean environment when ad...,NaN,NaN,20,-1.70
2,"PerkinElmer, Inc.",PerkinElmer,142542539115521,152634.0,153797.0,2021-02-23 10:30:00 EST,Photo,7,0,4,...,PerkinElmer is excited to announce the expansi...,https://www.facebook.com/PerkinElmer/photos/a....,NaN,NaN,Timeline Photos,NaN,NaN,NaN,11,0.58
3,Boston.com,boston,6879409364,396285.0,387824.0,2021-02-23 10:18:24 EST,Link,8,63,2,...,"""This has been a catastrophic failure.""",http://bos.gl/nSXWgmi,https://www.boston.com/news/coronavirus/2021/0...,NaN,"Ashish Jha reacts to U.S. surpassing 500,000 d...",“I don’t think I could have imagined a year ag...,NaN,NaN,91,2.53
4,"West Pharmaceutical Services, Inc.",WestPharma,105442239536819,3096.0,3385.0,2021-02-23 10:04:51 EST,Photo,7,0,0,...,#EngineerWeek Team Member Spotlight: “West mak...,https://www.facebook.com/WestPharma/photos/a.1...,NaN,"Ciara Meade Process Engineer Le Nouvion, Franc...",Timeline Photos,NaN,NaN,NaN,7,-2.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12318,Chevron,Chevron,431744650466,1186804.0,1168286.0,2020-01-23 15:15:46 EST,Link,314,12,42,...,CEO mike wirth spent time at the World Economi...,https://www.bloomberg.com/news/videos/2020-01-...,NaN,NaN,Chevron CEO Wirth on Coronavirus Threat and Oi...,Chevron Corp. Chairman and Chief Executive Off...,NaN,NaN,388,1.08
12319,Nasdaq,Nasdaq,13881287428,773209.0,771888.0,2020-01-23 08:50:37 EST,Link,5,1,1,...,Investors are grappling with the economic impa...,http://spr.ly/61861epia,https://www.nasdaq.com/articles/daily-markets%...,NaN,Daily Markets: Coronavirus Uncertainty Weighs ...,"Despite a rather volatile session yesterday, s...",NaN,NaN,8,-4.62
12320,"Henry Schein, Inc.",henryschein,258484565650,15276.0,17109.0,2020-01-22 11:33:54 EST,Link,82,0,43,...,"""One of the most dynamic movements in health c...",https://video.foxbusiness.com/v/6125554256001/...,NaN,NaN,Henry Schein CEO on coronavirus: No. 1 prevent...,Henry Schein CEO Stanley Bergman discusses the...,NaN,NaN,126,3.00
12321,Nasdaq,Nasdaq,13881287428,773174.0,771836.0,2020-01-22 08:55:33 EST,Link,11,2,4,...,Two things are driving markets right now: Earn...,http://spr.ly/61801eEfI,https://www.nasdaq.com/articles/daily-markets%...,NaN,Daily Markets: Taking Stock of Earnings and Th...,The major US equity indices all closed in the ...,NaN,NaN,19,-1.95
12322,Nasdaq,Nasdaq,13881287428,773172.0,771832.0,2020-01-21 10:47:32 EST,Link,17,2,2,...,There are concerns over a new strain of corona...,http://spr.ly/61811d0tL,https://www.nasdaq.com/articles/daily-markets%...,NaN,Daily Markets: Virus-Related Concerns in China...,"Thanks to the MLK holiday, we have a shortened...",NaN,NaN,24,-1.54

In [ ]:
from dateutil import parser

In [ ]:
df.Created = df.Created.apply(lambda x: parser.parse(x))

C:\Users\KK\Anaconda3\lib\site-packages\dateutil\parser\_parser.py:1218: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [ ]:
result = df.groupby(['User Name'])['Facebook Id'].count()

In [ ]:
result = result.to_frame()

In [ ]:
result_2 = df.groupby(['User Name'])['Likes','Comments','Shares','Love','Wow','Haha','Sad','Angry','Care'].sum()

C:\Users\KK\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
result = result.merge(result_2, right_index =True, left_index = True)

In [ ]:
result = result.reset_index()

In [ ]:
def get_date(x):
    global df
    temp = df[df['User Name'] == x]
    temp_sort = temp.sort_values(by = ['Created'])
    sd = temp_sort.Created.iloc[0]
    ed = temp_sort.Created.iloc[-1]
    return sd, ed

In [ ]:
result['start_date'] = result['User Name'].apply(lambda x:get_date(x)[0] )

In [ ]:
result['end_date'] = result['User Name'].apply(lambda x:get_date(x)[1] )

In [ ]:
result

,User Name,Facebook Id,Likes,Comments,Shares,Love,Wow,Haha,Sad,Angry,Care,start_date,end_date
0,3M,32,16587,13686,9531,2478,79,106,48,2862,26,2020-01-31 15:30:08,2021-01-29 13:19:44
1,ADMFarmerServices,20,172,2,79,6,0,1,0,0,0,2020-02-04 18:07:06,2021-01-19 12:59:07
2,AIGInsurance,11,179212,578,1112,4917,165,268,79,37,816,2020-03-05 09:19:46,2020-11-04 15:21:55
3,AMETEKInc,28,228,8,44,6,0,0,0,0,2,2020-02-20 11:00:42,2020-11-23 09:31:43
4,AOSmithCorporation,5,208,21,152,4,2,4,1,0,1,2020-05-08 11:23:29,2021-02-16 18:12:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,williamscompanies,10,106,7,6,5,0,0,0,0,0,2020-03-17 11:00:50,2020-05-27 12:01:18
397,willistowerswatson,8,215,0,21,9,0,0,0,0,2,2020-03-30 03:46:44,2021-01-04 13:05:08
398,xcelenergy,16,3207,773,8832,1402,29,4,0,3,6,2020-03-15 20:29:57,2020-10-23 10:20:03
399,yumbrands,56,2359,160,266,214,4,2,0,8,2,2020-03-18 11:31:06,2020-12-04 10:23:26
400,zimmerbiomet,7,271,19,50,18,0,0,0,1,0,2020-03-23 09:00:13,2020-10-20 07:36:19

In [ ]:
leaderboard = pd.read_csv('2021-02-23-12-17-32-EST-facebook_leaderboard_S&P-500_2020-02-01_00-00-00_ET_2021-02-23_23-59-59_ET.csv')

In [ ]:
leaderboard.shape

(468, 43)

In [ ]:
leaderboard.head()

,Page,Codename,URL,Total Interactions,Likes,Comments,Shares,Owned Post Views,Owned Views from Shares,Owned Total Views,...,Shared Video Posts,Other Video Posts,Posts Per Day,Page Likes,Page Growth,Page Growth %,Page Followers,Page Follower Growth,Page Follower Growth %,Interaction Rate Calculated With
0,Facebook,facebook,https://www.facebook.com/108824017345866,"8,459,900","4,626,579","1,020,086","1,170,165","771,245,233","27,160,500","798,405,733",...,0,0.0,0.35,"20,786,394",0,0%,"21,806,107",0,0%,Followers
1,Disney,Disney,https://www.facebook.com/11784025953,"8,189,444","4,522,786","483,244","1,134,579","71,175,392","16,824,012","87,999,404",...,91,3.0,3.47,"52,725,970","246,576",0.47%,"53,336,096","449,180",0.85%,Followers
2,Discovery,Discovery,https://www.facebook.com/6002238585,"7,811,696","5,260,689","214,849","1,117,835","218,937,428","52,500,329","271,437,757",...,74,0.0,4.59,"39,216,848","18,474",0.05%,"39,600,064","866,997",2.24%,Followers
3,Walmart,walmart,https://www.facebook.com/159616034235,"2,928,986","1,718,163","519,479","281,006","51,649,073","1,864,272","53,513,345",...,10,0.0,0.91,"34,095,953","-198,999",-0.58%,"32,925,722","52,073",0.16%,Followers
4,Boston.com,boston,https://www.facebook.com/6879409364,"2,743,999","1,152,899","550,836","336,439","339,884","285,860","625,744",...,0,0.0,38.44,"396,285","1,997",0.51%,"387,824","13,813",3.69%,Followers

In [ ]:
leaderboard_1 = leaderboard.loc[:,['Codename','URL','Total Posts','Page Followers','Total Interactions','Likes','Comments','Shares','Loves','Wows','Hahas','Sads','Angrys','Cares','All Reactions']]

In [ ]:
result_1 =pd.merge(result, leaderboard_1,left_on = ['User Name'], right_on = ['Codename'],how = 'right' )

In [ ]:
result_1

,User Name,Facebook Id,Likes_x,Comments_x,Shares_x,Love,Wow,Haha,Sad,Angry,...,Likes_y,Comments_y,Shares_y,Loves,Wows,Hahas,Sads,Angrys,Cares,All Reactions
0,facebook,22.0,1135548.0,451270.0,283310.0,157643.0,10706.0,110225.0,7208.0,51415.0,...,"4,626,579","1,020,086","1,170,165","1,069,839","47,230","188,327","66,018","106,630","165,026","6,269,649"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"4,522,786","483,244","1,134,579","1,664,098","76,376","61,023","117,464","50,469","79,405","6,571,621"
2,Discovery,35.0,34843.0,2967.0,5512.0,2683.0,832.0,585.0,1726.0,160.0,...,"5,260,689","214,849","1,117,835","710,068","317,938","45,076","91,996","6,967","46,278","6,479,012"
3,walmart,3.0,5504.0,3856.0,1386.0,496.0,28.0,60.0,9.0,52.0,...,"1,718,163","519,479","281,006","330,447","13,172","21,056","3,728","14,237","27,698","2,128,501"
4,boston,2573.0,129262.0,102258.0,67230.0,12451.0,17963.0,11866.0,58575.0,19372.0,...,"1,152,899","550,836","336,439","175,225","66,879","141,291","182,066","119,822","18,542","1,856,724"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
result_1.to_excel('summary_posts_2020-01-01--2021-02-24.xlsx',index = False)